@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

/* html {
    scroll-behavior: smooth;
} */

body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.navbar-brand {
    max-width: 200px;
    max-height: 50px;
}

.navbar-brand img {
    max-width: 15%;
    max-height: 50%;
}

.carousel-item img {
    max-height: 700px;
}

.card-img-top {
    max-height: 170px!important;
}

.brand h5 {
    max-width: 70%;
    margin-bottom: 0!important;
}

.brand img {
    max-width: 200px;
    max-height: 50px;
}

@media (max-width: 540px) {
    .centrar {
        text-align: center!important;
    }
    .brand {
        display: flex;
        align-items: center;
        justify-content: center!important;
    }
    i.fab {
        font-size: 1.25rem;
    }
}