@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

p {
    text-align: justify;
}


/* Alineacion vertical de la barra de navegación*/

#quienes-somos,
#destacados,
#contacto {
    padding-top: 1.5rem;
    margin-top: -1.5rem;
}


/* navbar */

.navbar-brand {
    max-width: 200px;
    max-height: 50px;
}

.navbar-brand img {
    max-width: 15%;
    max-height: 50%;
}

.nav a:hover {
    color: #90DBF4!important;
}

.nav-link.active,
.show>.nav-link {
    color: #8EECF5!important;
    background: rgba(0, 0, 0, 0);
}


/* carousel */

.carousel-item img {
    max-height: 700px;
}


/*Quienes somos*/

.bgcolor:hover,
i.fas:hover {
    background-color: #028090;
    color: #F0F3BD;
}


/* cards */

.card-img-top {
    max-height: 170px!important;
}

.badge {
    font-size: 0.7rem;
    font-weight: 400;
    position: relative;
    top: -0.5rem;
}


/* footer */

.brand h5 {
    max-width: 70%;
    margin-bottom: 0!important;
}

.brand img {
    max-width: 200px;
    max-height: 50px;
}

footer,
a {
    text-decoration: none;
    color: white;
}

footer,
a:hover {
    color: #90DBF4;
}

@media (min-width: 1024px) and (max-width: 1024px) {
    /* cards */
    .card-img-top {
        max-height: 143px!important;
    }
}

@media (max-width: 540px) {
    /* Alineacion vertical de la barra de navegación*/
    #quienes-somos,
    #destacados,
    #contacto {
        padding-top: 7rem;
        margin-top: -7rem;
    }
    /* navbar */
    .navbar-brand {
        max-width: 150px;
        max-height: 50px;
    }
    .navbar-brand img {
        max-width: 17%;
        max-height: 70%;
    }
    /* footer */
    .centrar {
        text-align: center!important;
    }
    .brand {
        display: flex;
        align-items: center;
        justify-content: center!important;
    }
    i.fab {
        font-size: 1.25rem;
    }
}